{% extends 'layout.html.twig' %}
{% block title %}Bienvenue{% endblock %}
{% block stylesheet %}<link rel="stylesheet" type="text/css" href="../assets/css/navbar.css">{% endblock %}
 {% block navbar %}{% include 'navbar/navbar.html.twig'%} {% endblock %}


 {% block content %}

	 <div class="container-fluid">
	    <div class="row">
	        <div class="background-image-home">
	        </div>
	    </div>
	</div>

{% endblock %}