{% extends 'layout.html.twig' %}
{% block title %}Bienvenue{% endblock %}
{% block stylesheet %}
 <link rel="stylesheet" type="text/css" href="../assets/css/homeNavbar.css">
 <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
{% endblock %}
{% block navbar %}{% include 'Navbar/homeNavbar.html.twig'%}{% endblock %}
{% block alert %}
    {% if alert %}
        <div class="alert alert-success" role="alert">
            {{ alert }}
        </div>
    {% endif %}
    {% if reset %}
        <div class="alert alert-info" role="alert">
            {{ reset|raw }}
        </div>
    {% endif %}
{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row logo d-flex align-items-center">
            <img class="img-logo" src="/assets/images/home/homeLogo.png">
        </div>
    </div>
        
{% endblock %}
