{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Joueurs</h1>
    <ul>
        {% for joueur in joueurs %}
            <li><a href="/joueurs/{{ joueur.id }}">{{ joueur.id }} . {{ joueur.nom }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}
