{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Team {{ team.name }}</h1>
    <p>{{ team.id }}. {{ team.name }}</p>
    <a href="/team/edit/{{ team.id }}">Edit</a>
    <a href="/">Back</a>
{% endblock %}
