/*style du titre*/

.title_calendar
{
    margin-left: 0; /*PLUS DE MARGE*/
    margin-right: 0; /*PLUS DE MARGE*/
    font-family: 'Cinzel Decorative', cursive;
    margin-top: -20%;
    margin-bottom: 20%;
    justify-content: center;
    color: #480405;
    font-size: 5vw;
    font-weight: bold;
}


/***********************/
/*      ADMIN          */
/***********************/

.boutedit, .boutdel
{
    margin: 4px;
}




/***********placement et styles des vignettes matchs********/

.ligne
{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #833E2F;
}

.match_banner
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo_score_boxes
{
    display: flex;
    flex-direction: row;
}

/*style et placement de la date*/
.dateMatch {

    font-weight: bold;
    color: #EEEEEE;
    margin: auto;
}

.date_box
{
    width: 100% ;
    display: flex;
    justify-content: center;
    background: #333333;
}

/*style du box logo*/



/*style et placement des scores*/
.score
{
    font-weight: bold;
    font-size: 40px;
    color: #EEEEEE;
    margin: auto;
}

/*style et emplacement des nom d'&quipe*/
.nameTeam
{

    font-family: 'Cinzel Decorative', cursive;
    font-size: 19px;
    color: white;
    text-align: center;
    margin: 5px;
}





/*style de l'équipe 1 */

.logo_score_box1
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_score_box2
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

card-img-top
{
    width: 150px;
    height: 150px;
}



@media (max-width: 550px)
{

    body
    {
        padding-top: 60px;
    }

    .img_coupe
    {
        display: none;
    }

    .title_calendar
    {
        margin-left: 0; /*PLUS DE MARGE*/
        margin-right: 0; /*PLUS DE MARGE*/
        font-family: 'Cinzel Decorative', cursive;
        margin-top: 5%;
        margin-bottom: 10%;
        justify-content: center;
        color: #cd900e;
        font-size: 5vw;
        font-weight: bold;
    }

    .logo_score_boxes
    {

        flex-direction: column;
    }

    .logo_score_box2
    {
        border-top: solid black 1px;
        flex-direction: row-reverse;
    }

    .logo_score_box2, .logo_score_box1
    {
        width: 100%;
    }



}




