body {
    font-size: 20px;
    /*background-color: #562b2b;*/
    background: url("../images/players/team_wallpaper.jpg") no-repeat fixed center;
    background-size: cover;
}

h1{
    margin-top: 5vh;
    color: white;
}

h2
{
    font-family: 'Cinzel Decorative', cursive;
    margin-bottom: 5vh;
    color: white;
    vertical-align: center;
}

h2:before {
    content: '';
    background:url('../images/vif_jaune.png');
}

h2:after {
    content: '';
    background:url('../images/vif_jaune_droite.png');
}

h2:before, h2:after {
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: center;
}

.row
{
    margin-bottom: 8vh;
}

.position-bar
{
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-top: white solid 2px;
    border-bottom: white solid 2px;*/
}

.position-bar:not(:first-of-type)
{
    margin-top: 125px;
}

/*******************************************************/
/*           Hoverable/clickable cards                 */
/*******************************************************/

.custom-card
{
    position: relative;
    width: 280px;
    height: 350px;
    margin-bottom: 10px;
}

.custom-card-img
{
    border-radius: 8px;
    width: 280px;
    height: 350px;
    position: absolute;
}

.custom-card-text
{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0, 0.6);
    color: white;
    text-align: center;
    transition: height 1s, padding-top 1s, background-color 1s;
}

body.hasHover .custom-card:hover .custom-card-text, .clicked .custom-card-text
{
    height: 100%;
    padding-top: 30px;
    background-color: rgba(0,0,0, 0.8);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*****************************************************/
