body {
    background-color: #EFF6F7;
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
}

h1{

    margin-top: 5vh;
    font-family: 'Cinzel Decorative', cursive;

}

h2
{
    font-family: 'Cinzel Decorative', cursive;
    margin-bottom: 5vh;
}

.row
{
  margin-bottom: 8vh;
}

.card
{
  border-radius: 10px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  min-width: 360px;
}

.card-img-top
{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 180px;
  height: 225px;
}

.card-body
{
  width: 180px;
  height: 225px;
}

@media (hover: hover)
{
  .card-hover
  {
    display: none!important;
  }
}

@media screen and (min-width: 575px)
{

}
