body {

    background-color: #dbd5d4;
    padding-top: 80px;
}



h1{
    margin-top: 70px;
    margin-bottom: 100px;
    color: #d6ae1d;
}

h2 {

    font-family: 'Cinzel Decorative', cursive;
    margin-top: 300px;
    font-size: 42px;
    color: #d6ae1d;
    text-align: center;

}



p {

    background-color: #9e1607;
    padding: 20px;
    color: white;
    font-size: 22px;

}

img.hat {
    margin-left: 200px;
    height: 150px;

}

img.marmite {
    margin-left: 170px;
    height: 250px;
}

img.harry {
    margin-left: 120px;
    height: 300px;
    height: 300px;

}

img.vif {
    height: 100px;
}

.row {
    margin-bottom: 100px;
}