body {
    padding-top: 80px;
}

.presentation body {

    background-color: #dbd5d4;
    padding-top: 80px;
}



.presentation h1{
    color: #d6ae1d;
}

.presentation h2 {

    font-family: 'Cinzel Decorative', cursive;
    margin-top: 300px;
    font-size: 42px;
    color: #d6ae1d;
    text-align: center;

}



.presentation p {

    background-color: #9e1607;
    padding: 20px;
    color: white;
    font-size: 22px;

}


.presentation img.icone {
    height: 150px;
}


.presentation img.vif {
    height : 100px;
}

.presentation img.harry {
    height : 300px;
    margin-top : -60px;
}


.bloc h2 {
    margin-top: 15%
}


.bloc {
    display : flex;
    flex-direction: row;
}

.row:nth-of-type(5n){
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.presentation .row {
    margin-bottom: 100px;
}

textarea{
    height: 15rem;
}

.green-borders-bottom{
    border-bottom: green solid 3px;
    border-left: green solid 3px;
    border-right: green solid 3px;
    margin-top: 0!important;
}
.green-borders-top{
    border-top: green solid 3px;
    border-left: green solid 3px;
    border-right: green solid 3px;
    margin-bottom: 0!important;
}

.btn-modify{
    position: absolute;
    top: 0;
    left: 0;
    font-family: "DejaVu Sans";
}

@media (max-width:992px) {

     .row {
         margin-bottom: 10px;
     }

     h1 {
         margin-top: 20px;
         margin-bottom: 20px;
     }

     .miniature {
         margin-bottom: 10px;

     }

}