body {
    
    background-color: #EFF6F7;
    font-family: 'Poiret One', cursive;
    font-size: 21px;
}



h1{
    
    margin-bottom: 100px;
    font-family: 'Cinzel Decorative', cursive;
    
}

h2 {
    
    margin-bottom: 50px;
    
    
}