/*********************************************************
This CSS is applied to the whole site (layout.html.twig)
*********************************************************/

body {
    background-color: #EFF6F7;
    font-family: 'Poiret One', cursive;
}

h1{
    font-family: 'Cinzel Decorative', cursive;
}

#admin-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-family: "DejaVu Sans";
    z-index: 100;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body a {
    margin: 5px;
    font-family: "DejaVu Sans";
}