<div class="footer_logo d-flex justify-content-center">
	<a href="/">
		<img src="assets/images/logo-typo.svg" style="width:150px;height:188px;"  alt="Gryffondor Quidditch" />
	</a>
</div>

	<div class="footer_sponsors">
        <p class="footer_text_wrapper text-center">
			<span class="footer_text">Partenaires</span>
		</p>

			<div class="footer_partenaires">
				<img src="assets/images/hogwarts.png" class="img-fluid" alt="Hogwarts" />
				<img src="assets/images/owlsenger.png" class="img-fluid" alt="owlsenger" />
				<img src="assets/images/chaudron.png" class="img-fluid" alt="Chaudron Magique" />
			</div>
	</div>

<div class="footer_wrapper">
		<nav class="nav nav-pills flex-column flex-md-row justify-content-center">
			<a class="flex-sm-fill text-center nav-link" href="/presentation">À propos de Gryffondor Quidditch</a>
			<a class="flex-sm-fill text-center nav-link" href="/contact">Nous contacter</a>
			<a class="flex-sm-fill text-center nav-link" href="/team">Equipe</a>
			<a class="flex-sm-fill text-center nav-link" href="/calendar">Calendrier</a>
		</nav>
</div>

<div class="footer_copyright">
	<div class="d-flex p-2 justify-content-center">
		<p>© 2018 Code Quantum, Some Rights Reserved<p> 
	</div>
</div>