{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Item {{ player.title }}</h1>
    <p>{{ player.id }}. {{ player.title }}</p>
    <a href="/player/edit/{{ player.id }}">Edit</a>
    <a href="/">Back</a>
{% endblock %}
