<nav class="navbar navbar-expand-md navbar-light bg-light nav-home fixed-top" id="navbar">
  <div id="logo">
    <a href="/">{% include 'logo/lion.svg' %}</a>
  </div>
      <button class="navbar-toggler " id="btn-burger" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars "></i>
  </button>

  <div class="collapse navbar-collapse " id="navbarNav">

    <ul class="navbar-nav ul-home d-flex justify-content-between">

      <li class="nav-item ">
        <a class="nav-link" href="/presentation">Presentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team">Equipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar-{{ thisSeason }}">Calendrier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/contact">Contact</a>
      </li>

    </ul>
  </div>
</nav>
