{% extends 'layout.html.twig' %}
{% block title %}Calendrier{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="../assets/css/calendar.css">
{% endblock %}

{% block content %}



      <div class="row title_calendar">
          <h1>Calendrier</h1>
      </div>


    </br>
    </br>

    <div class="container-fluid">
      <div class="row ligne">

          <div class="">
            <a href="#"><img src="http://via.placeholder.com/90x90"></a>
          </div>

          <div class="score">
              <p>Score</p>
          </div>

          <div class="vs">
              <p>VS</p>
          </div>

          <div class="score">
              <p>Score</p>
          </div>


          <div class="">
              <a href="#"><img src="http://via.placeholder.com/90x90"></a>
          </div>
        </div>

    </br>
    </br>
      <div class="row ligne">

          <div class="">
              <a href="#"><img src="http://via.placeholder.com/90x90"></a>
          </div>

          <div class="score">
              <p>Score</p>
          </div>

          <div class="vs">
              <p>VS</p>
          </div>

          <div class="score">
              <p>Score</p>
          </div>

          <div class="">
              <a href="#"><img src="http://via.placeholder.com/90x90"></a>
          </div>
      </div>

    </br>
    </br>

      <div class="row ligne">

          <div class="">
              <a href="#"><img src="http://via.placeholder.com/90x90"></a>
          </div>

          <div class="score">
              <p>Score</p>
          </div>

          <div class="vs">
              <p>VS</p>
          </div>

          <div class="score">
              <p>Score</p>
          </div>

          <div class="">
              <a href="#"><img src="http://via.placeholder.com/90x90"></a>
          </div>
      </div>

    </br>
    </br>

      <div class="row ligne">

          <div class="">
              <a href="#"><img src="http://via.placeholder.com/90x90"></a>
          </div>

          <div class="score">
              <p>Score</p>
          </div>

          <div class="vs">
              <p>VS</p>
          </div>

          <div class="score">
              <p>Score</p>
          </div>

          <div class="">
              <a href="#"><img src="http://via.placeholder.com/90x90"></a>
          </div>
      </div>

      </br>
      </br>

          <div class="row ligne">

              <div class="">
                  <a href="#"><img src="http://via.placeholder.com/90x90"></a>
              </div>

              <div class="score">
                  <p>Score</p>
              </div>

              <div class="vs">
                  <p>VS</p>
              </div>

              <div class="score">
                  <p>Score</p>
              </div>


              <div class="">
                  <a href="#"><img src="http://via.placeholder.com/90x90"></a>
              </div>
          </div>

          </br>
          </br>
          <div class="row ligne">

              <div class="">
                  <a href="#"><img src="http://via.placeholder.com/90x90"></a>
              </div>

              <div class="score">
                  <p>Score</p>
              </div>

              <div class="vs">
                  <p>VS</p>
              </div>

              <div class="score">
                  <p>Score</p>
              </div>

              <div class="">
                  <a href="#"><img src="http://via.placeholder.com/90x90"></a>
              </div>
          </div>

          </br>
          </br>



  </div>

{% endblock %}