{% extends 'Home/home.html.twig' %}
{% block navbar %}{% endblock %}
{% block content %}

    {{ dump(adminLogin) }}
    {{ dump(check) }}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-4">Administration</h1>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">Connection</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" id="formLogin" method="POST">
                                    <div class="form-group">
                                        <label for="login">Identifiant</label>
                                        <input type="text" class="form-control form-control-lg rounded-0" name="login" id="login" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label>Mot de passe</label>
                                        <input type="password" class="form-control form-control-lg rounded-0" id="password" name="password" required="required">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Valider</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}