{% extends 'layout.html.twig' %}
{% block title %}Nous contacter{% endblock %}
{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="../assets/css/contact.css">
{% endblock %}


{% block content %}
        <div class="container successful-container">
            <div class="row d-flex">
                <p class="thanks">Votre email a bien été envoyé.<br>
                Merci.<br>
                <img src="/assets/images/contact/avion_papier.png" alt="Avion en papier">
                </p>
            </div>
            <div class="row d-flex justify-content-center">
                <a href="/contact" class="btn btn-custom">Page contact</a>
                <a href="/" class="btn btn-custom">Page principale</a>
            </div>
        </div>
{% endblock %}
    
 